.footer {
    position: fixed;
    bottom: 0 ;

    display: flex;
    justify-content: flex-end;
}

.footer > span {
    font-size: 1.1rem;
    font-weight: 300;
}

/* mat-toolbar {
    width: 50%;
    right: 0;
} */